#catalog {
    margin-bottom: 50px;
    .catalog {

        h1 {
            font-family: Bebas Neue;
            font-size: 64px;
            font-weight: 700;
            line-height: 78.72px;
            letter-spacing: 0.05em;
            margin-bottom: 50px;
        }


        &--box1 {
            width: 1137px;
            background: #F57520;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;

            h1 {
                margin-left: 60px;
                color: white;
                font-size: 64px;
                font-weight: 400;
                line-height: 78.72px;
                letter-spacing: 0.05em;
            }

            img {
                width: 700px;
            }
        }

        &--container {
            display: flex;
            gap: 20px;

            &__box {
                background: #000;
                border-radius: 10px;
                width: 350px;
                height: 450px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                h1 {
                    color: white;
                    margin-top: 50px;
                    font-size: 45px;
                    font-weight: 400;
                    line-height: 78.72px;
                    letter-spacing: 0.05em;
                }

                img {
                    width: 305px;
                    border-radius: 10px;
                }
            }

            &__box2 {

                display: flex;
                gap: 10px;

                &--left {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    &__box1 {
                        width: 400px;
                        height: 190px;
                        background: #000;
                        border-radius: 10px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        h1 {
                            color: white;
                            margin-left: 50px;
                            font-size: 50px;
                            font-weight: 400;
                            line-height: 78.72px;
                            letter-spacing: 0.05em;
                        }
                    }

                    &__box2 {
                        position: relative;
                        width: 400px;
                        height: 250px;
                        background: #000;
                        border-radius: 10px;
                        display: flex;
                        flex-direction: column-reverse;

                        h1 {
                            color: white;
                            margin-left: 50px;
                            margin-bottom: 10px;
                            font-size: 50px;
                            font-weight: 400;
                            line-height: 78.72px;
                            letter-spacing: 0.05em;
                        }

                        img {
                            position: absolute;
                            top: 0;
                            right: 0;
                        }
                    }
                }

                &--rigth {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    &__box1 {
                        width: 400px;
                        height: 230px;
                        background: #000;
                        border-radius: 10px;
                        position: relative;

                        h1 {
                            color: white;
                            margin-top: 20px;
                            margin-left: 50px;
                            font-size: 50px;
                            font-weight: 400;
                            line-height: 78.72px;
                            letter-spacing: 0.05em;
                        }

                        img {
                            position: absolute;
                            bottom: 0;
                            right: 0;
                        }
                    }

                    &__box2 {
                        width: 400px;
                        height: 209px;
                        background: #000;
                        border-radius: 10px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        h1 {
                            color: white;
                            margin-left: 50px;
                            font-size: 32px;
                            font-weight: 400;
                            line-height: 78.72px;
                            letter-spacing: 0.05em;
                        }

                        img {
                            border-radius: 10px;
                        }
                    }
                }
            }
        }
    }
}