#header {
    padding: 30px 0;
    position: fixed;
    width: 100%;
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--nav {
            display: flex;
            gap: 35px;
            a {
                font-family: "Playfair Display", serif;
                font-size: 12px;
                font-weight: 400;
                line-height: 19.2px;
                font-size: 15px;
                color: white;
            }
        }

        &--icons{
            display: flex;
            gap: 25px;
            a{
                font-size: 12px;
                font-weight: 400;
                line-height: 19.2px;
                font-size: 20px;
                color: white;
            }
        }
        &--menu{
            a{
                font-size: 12px;
                font-weight: 400;
                line-height: 19.2px;
                font-size: 25px;
                color: white;
            }
        }
    }
}